# GW2 Database Overview

This notebook inventories the Guild Wars 2 trading post database, listing tables, schemas, and sample rows to support downstream modeling specs.

In [7]:
import os
from dotenv import load_dotenv

load_dotenv()

raw_connection_string = os.getenv("DB_URL")
if not raw_connection_string:
    raise ValueError("DB_URL is not set. Create a .env with DB_URL or export it in your shell.")

if raw_connection_string.startswith("postgres://"):
    normalized_connection_string = "postgresql+psycopg://" + raw_connection_string[len("postgres://"):]
elif raw_connection_string.startswith("postgresql://"):
    normalized_connection_string = "postgresql+psycopg://" + raw_connection_string[len("postgresql://"):]
else:
    normalized_connection_string = raw_connection_string

print(normalized_connection_string)

postgresql+psycopg://readonly_user:ykYQRk-FQnrR2cFth!6YkHT$zLtojh_gz8FQgEKLgoFE@88.99.134.45:5432/gw2_trading_prices_history

In [8]:
from sqlalchemy import create_engine, text
import pandas as pd

engine = create_engine(normalized_connection_string)
engine

Engine(postgresql+psycopg://readonly_user:***@88.99.134.45:5432/gw2_trading_prices_history)

In [9]:
from pathlib import Path

OUTPUT_DIR = Path("docs/database")
OUTPUT_DIR.mkdir(parents=True, exist_ok=True)

def frame_to_markdown(input_df: pd.DataFrame, include_index: bool = False) -> str:
    df = input_df.reset_index(drop=not include_index).copy()
    headers = df.columns.tolist()
    header_line = "| " + " | ".join(str(col) for col in headers) + " |"
    separator_line = "| " + " | ".join("---" for _ in headers) + " |"
    body_lines: list[str] = []
    for _, row in df.iterrows():
        cells = ["" if value is None else str(value) for value in row.tolist()]
        body_lines.append("| " + " | ".join(cells) + " |")
    lines = [header_line, separator_line, *body_lines]
    return "\n".join(lines)

def write_markdown(input_df: pd.DataFrame, output_path: Path, title: str) -> None:
    markdown_table = frame_to_markdown(input_df)
    content = f"# {title}\n\n{markdown_table}\n"
    output_path.write_text(content, encoding="utf-8")

In [10]:
tables_sql = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name
"""

tables_df = pd.read_sql(tables_sql, engine)
write_markdown(tables_df, OUTPUT_DIR / "public_tables.md", "Public Schema Tables")
tables_df

                  table_name
0  gw2bltc_historical_prices
1    gw2tp_historical_prices
2                      items
3                   listings
4                     prices

In [11]:
def describe_table(table_name: str) -> pd.DataFrame:
    schema_sql = """
    SELECT column_name,
           data_type,
           is_nullable,
           column_default
    FROM information_schema.columns
    WHERE table_schema = 'public'
      AND table_name = :table_name
    ORDER BY ordinal_position
    """
    return pd.read_sql(text(schema_sql), engine, params={"table_name": table_name})

In [12]:
for target_table in ["prices", "gw2tp_historical_prices", "gw2bltc_historical_prices"]:
    schema_df = describe_table(target_table)
    write_markdown(schema_df, OUTPUT_DIR / f"{target_table}_schema.md", f"{target_table} Schema")
    print(f"\nColumns for {target_table}")
    display(schema_df)

Columns for prices

,column_name,data_type,is_nullable,column_default
0,id,bigint,NO,nextval('prices_id_seq'::regclass)
1,item_id,integer,NO,None
2,whitelisted,boolean,NO,None
3,buy_quantity,integer,NO,None
4,buy_unit_price,integer,NO,None
5,sell_quantity,integer,NO,None
6,sell_unit_price,integer,NO,None
7,fetched_at,timestamp with time zone,YES,CURRENT_TIMESTAMP
8,created_at,timestamp with time zone,YES,CURRENT_TIMESTAMP

Columns for gw2tp_historical_prices

,column_name,data_type,is_nullable,column_default
0,id,bigint,NO,nextval('gw2tp_historical_prices_id_seq'::regc...
1,item_id,integer,NO,None
2,timestamp,bigint,NO,None
3,sell_price,integer,YES,None
4,buy_price,integer,YES,None
5,supply,integer,YES,None
6,demand,integer,YES,None
7,created_at,timestamp with time zone,YES,CURRENT_TIMESTAMP

Columns for gw2bltc_historical_prices

,column_name,data_type,is_nullable,column_default
0,id,bigint,NO,nextval('gw2bltc_historical_prices_id_seq'::re...
1,item_id,integer,NO,None
2,timestamp,bigint,NO,None
3,sell_price,integer,NO,None
4,buy_price,integer,NO,None
5,supply,integer,NO,None
6,demand,integer,NO,None
7,sold,integer,NO,None
8,offers,integer,NO,None
9,bought,integer,NO,None
10,bids,integer,NO,None
11,created_at,timestamp with time zone,YES,CURRENT_TIMESTAMP

In [13]:
for target_table in ["prices", "gw2tp_historical_prices", "gw2bltc_historical_prices"]:
    preview_sql = f"SELECT * FROM {target_table} ORDER BY 1 LIMIT 5"
    preview_df = pd.read_sql(preview_sql, engine)
    write_markdown(preview_df, OUTPUT_DIR / f"{target_table}_preview.md", f"{target_table} Preview Rows")
    print(f"\nPreview rows for {target_table}")
    display(preview_df)

Preview rows for prices

,id,item_id,whitelisted,buy_quantity,buy_unit_price,sell_quantity,sell_unit_price,fetched_at,created_at
0,1,273,False,0,0,637,95,2025-07-29 14:45:00.611139+00:00,2025-07-29 14:45:00.611139+00:00
1,2,274,False,548,3245,482,3499,2025-07-29 14:45:00.611139+00:00,2025-07-29 14:45:00.611139+00:00
2,3,275,False,2008,40,131,540,2025-07-29 14:45:00.611139+00:00,2025-07-29 14:45:00.611139+00:00
3,4,276,False,132,66,139,766,2025-07-29 14:45:00.611139+00:00,2025-07-29 14:45:00.611139+00:00
4,5,277,False,0,0,837,99,2025-07-29 14:45:00.611139+00:00,2025-07-29 14:45:00.611139+00:00

Preview rows for gw2tp_historical_prices

,id,item_id,timestamp,sell_price,buy_price,supply,demand,created_at
0,1,33,1358723030000,80.0,26,633.0,92,2025-07-29 15:00:00.689474+00:00
1,2,46,1358723029000,650.0,333,42.0,123,2025-07-29 15:00:00.709075+00:00
2,3,47,1358723029000,650.0,333,42.0,123,2025-07-29 15:00:00.717028+00:00
3,4,24,1352160000000,NaN,1,NaN,11,2025-07-29 15:00:01.656780+00:00
4,5,24,1352246400000,NaN,5,NaN,399,2025-07-29 15:00:01.656780+00:00

Preview rows for gw2bltc_historical_prices

,id,item_id,timestamp,sell_price,buy_price,supply,demand,sold,offers,bought,bids,created_at
0,1,24,1598054400,854,600,21629,67666,0,192,267,500,2025-07-29 16:00:04.335669+00:00
1,2,24,1598076000,849,600,21664,67654,0,35,12,0,2025-07-29 16:00:04.335669+00:00
2,3,24,1598097600,848,601,22914,67654,0,1250,10,10,2025-07-29 16:00:04.335669+00:00
3,4,24,1598119200,845,606,22875,67690,50,11,8,50,2025-07-29 16:00:04.335669+00:00
4,5,24,1598140800,640,608,22903,68349,0,22,86,745,2025-07-29 16:00:04.335669+00:00

## Summary

- Public schema includes `prices`, `gw2tp_historical_prices`, and `gw2bltc_historical_prices` alongside other metadata tables.
- `prices` captures current buy/sell quotes with timestamps every ~5 minutes.
- Historical tables store longer time series with `timestamp` fields (milliseconds for TP, seconds for BLTC) and may contain wider gaps for older data.
- Sample previews confirm column availability for forecasting targets: `sell_unit_price`, `buy_unit_price`, `sell_quantity`, `buy_quantity`.
- Markdown exports saved under `docs/database/` mirror each table listing, schema description, and preview for easy reuse in specs or prompts.